<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
<head>
  <link href="https://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ .Title }}</title>
  <meta name="description" content="Resume of Pete Vasiliauskas, Software Architect" />
  {{ $style := resources.Get "css/resume.css" }}
  {{ $css := $style | resources.Minify }}
  <link type="text/css" rel="stylesheet" href="{{ $css.RelPermalink }}">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/apple-touch-icon-144-precomposed.png">
  <link rel="shortcut icon" href="/favicon.png">
</head>
<body>
    {{ .Content }}

    {{ if not .Site.IsServer }}
      {{ partial "analytics.html" . }}
    {{ end }}
  </body>
</html>
